#tle {
    font: 40px Arial, sans-serif;
    box-shadow: 0 4px 16px grey;
    display: table;
    padding : 10px 10px;
    margin: 20px 0;
    border: 3px solid black;
}

#stle {
    font: 25px Arial, sans-serif;
    border-bottom: 2px solid black;
    border-width: 3px;
    display: table;
}

#list {
    font: 16px Arial, sans-serif;
}